<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fix" version="0.1" targetFramework="net45" />
  <package id="Flux" version="0.1" targetFramework="net45" />
  <package id="ScriptCs.Contracts" version="0.3.0-alpha-130406" targetFramework="net45" />
  <package id="Simple.Web" version="0.6.2.52146" targetFramework="net45" />
</packages>